//------------------------------------------------------------------------------
// Cross browser clearfix
//------------------------------------------------------------------------------

// Clears an element of its floated children. The quick way.
@mixin clear {
    overflow: hidden;
    @include has-layout;
}

// Clears an element of its floated children.
@mixin clearfix {
    &:after {
        clear: both;
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        line-height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    @include has-layout;
}