[submodule "library/CodeBlender"]
	path = library/CodeBlender
	url = git://github.com/iwarner/CodeBlender.git
[submodule "application/modules/core"]
	path = application/modules/core
	url = git@github.com:iwarner/CodeBlender-ModuleCore.git
[submodule "application/modules/user"]
	path = application/modules/user
	url = git@github.com:iwarner/CodeBlender-ModuleUser.git
[submodule "application/layouts"]
	path = application/layouts
	url = git@github.com:iwarner/CodeBlender-Layouts.git
[submodule "public/theme"]
	path = public/theme
	url = git@github.com:iwarner/CodeBlender-Themes.git
