[submodule "application/layouts"]
	path = application/layouts
	url = git://github.com/iwarner/CodeBlender-LayoutsAdmin.git
[submodule "library/CodeBlender"]
	path = library/CodeBlender
	url = git://github.com/iwarner/CodeBlender.git
