//------------------------------------------------------------------------------
// Optional defines
$FONT_PATH: "/assets/fonts/" !default;

//------------------------------------------------------------------------------
// @font-face
@mixin font-face-bulletproof($family_name, $file_basename)
{
    $file_path: #{$FONT_PATH}#{$file_basename};
    @font-face {
        font-family: "#{$family_name}";

        src: url("#{$file_path}.eot?") format("eot"),
        url("#{$file_path}.woff") format("woff"),
        url("#{$file_path}.ttf") format("truetype");
    }
}

@mixin font-face($family_name, $file_basename)
{
    $file_path: #{$FONT_PATH}#{$file_basename};
    @font-face {
        font-family: "#{$family_name}";
        src: url("#{$file_path}.eot");
        src: local('☺'), url("#{$file_path}.woff") format('woff'), url("#{$file_path}.ttf") format('truetype'), url("#{$file_path}.svg") format('svg');
    }
}

@mixin font-face-otf($family_name, $file_basename)
{
    $file_path: #{$FONT_PATH}#{$file_basename};
    @font-face {
        font-family: "#{$family_name}";
        src: url("#{$file_path}.eot");
        src: local('☺'), url("#{$file_path}.woff") format('woff'), url("#{$file_path}.otf") format('opentype'), url("#{$file_path}.svg") format('svg');
    }
}