// Renders a transparent png for IE 6 & 7
@mixin iepng($url ,$sizingMethod: "image") {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$url',sizingMethod='$sizingMethod');
}

// Renders a transparent png for IE 8
@mixin ie8png($url, $sizingMethod: "image") {
    background-image: none;
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$url',sizingMethod='$sizingMethod');";
}