//------------------------------------------------------------------------------
// Optional defines
$GRID_COLUMNS: 24 !default;

$GRID_WIDTH: 30px !default;
$GRID_MARGIN: 5px !default;

//------------------------------------------------------------------------------

@mixin grid-col($noCols, $pos: normal) {
    @if $pos == first {
        width: (($noCols * $GRID_WIDTH) + ($GRID_MARGIN + $GRID_MARGIN) * ($noCols - 1)) + $GRID_MARGIN;
        @include grid-col-first;
        margin-right: $GRID_MARGIN;
    }
    @else if $pos == last {
        width: (($noCols * $GRID_WIDTH) + ($GRID_MARGIN + $GRID_MARGIN) * ($noCols - 1)) + $GRID_MARGIN;
        @include grid-col-last;
        margin-left: $GRID_MARGIN;
    }
    @else {
        width: ($noCols * $GRID_WIDTH) + ($GRID_MARGIN + $GRID_MARGIN) * ($noCols - 1);
        margin-left: $GRID_MARGIN;
        margin-right: $GRID_MARGIN;
    }

    display: inline;
    float: left;
    position: relative;
}

@mixin grid-col-first {
    margin-left: 0;
}

@mixin grid-col-last {
    margin-right: 0;
}

@mixin grid-col-prefix($noCols) {
    padding-left: $noCols * ($GRID_WIDTH + $GRID_MARGIN + $GRID_MARGIN);
}

@mixin grid-col-suffix($noCols) {
    padding-right: $noCols * ($GRID_WIDTH + $GRID_MARGIN + $GRID_MARGIN);
}
