// Turns a ul into a horizontal list, ready to be used as a menu.
@mixin horizontal-list {
    @include reset;
    @include clearfix;

    li {
        @include no-bullet;
        float: left;
        white-space: nowrap;
    }
}

// Removes the bullet from the list element
@mixin no-bullet {
    list-style-type: none;
    margin-left: 0;
}

// Turns off bullets for the entire ul
@mixin no-bullets {
    li {
        @include no-bullet;
    }
}