// Easily position an element around
@mixin position($mode: "absolute", $top: false, $left: false, $bottom: false, $right: false) {
    position: $mode;

    @if $top != false		{ top: $top; }
    @if $left != false 		{ left: $left; }
    @if $right != false 	{ right: $right; }
    @if $bottom != false	{ bottom: $bottom; }
}

@mixin absolute($top: false, $left: false, $bottom: false, $right: false) {
    @include position("absolute", $top, $left, $bottom, $right);
}

@mixin absolute-tr($top: 0, $right: 0) {
    @include position("absolute", $top, false, false, $right);
}

@mixin absolute-tl($top: 0, $left: 0) {
    @include position("absolute", $top, $left, false, false);
}

@mixin absolute-br($bottom: 0, $right: 0) {
    @include position("absolute", false, false, $bottom, $right);
}

@mixin absolute-bl($bottom: 0, $left: 0) {
    @include position("absolute", false, $left, $bottom, false);
}

@mixin relative($top: false, $left: false, $bottom: false, $right: false) {
    @include position("relative", $top, $left, $bottom, $right);
}

@mixin move($top: false, $left: false, $bottom: false, $right: false) {
    @include relative($top, $left, $bottom, $right);
}

@mixin move-up($up: 0) {
    @include move(-$up);
}

@mixin move-right($right: 0) {
    @include move(false, false, false, -$right);
}

@mixin move-down($down: 0) {
    @include move(false, false, -$down);
}

@mixin move-left($left: 0) {
    @include move(false, -$left);
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}