// Reset an elements margin and padding so it's easier to style.
@mixin reset {
    margin: 0;
    padding: 0;
}

// Resets the entire box model for the element
@mixin reset-box {
    margin: 0;
    padding: 0;
    border: 0;
}

// A more detailed reset, covering most properties
@mixin reset-all {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-decoration: inherit;
    vertical-align: baseline;
    white-space: normal;
}

@mixin global-reset {
    html, body, div, span, applet, object, embed, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, audio, canvas, datalist, details,
    figure, figcaption, footer, header, hgroup, mark, menu, meter,
    nav, output, progress, section, time, video {
        @include reset-all;
        font-size: 100.01%;	// IE Font Sizing Bug: http://css-discuss.incutio.com/?page=InternetExplorerWinBugs
    }

    body {
        font-family: Arial, sans-serif;
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    // Safari doesn't support the quotes attribute, so we do this instead.
    blockquote, q {
        &:before, &:after {
            // CSS 2; used to remove quotes in case "none" fails below.
            content: "";
            // CSS 2.1; will remove quotes if supported, and override the above.
            // User-agents that don't understand "none" should ignore it, and
            // keep the above value. This is here for future compatibility,
            // though I'm not 100% convinced that it's a good idea...
            content: none;
        }
    }

    // Remember to define focus styles!
    :focus {
        @include outline-off;
    }
    @include moz-button-outline-off;

    // Remember to highlight inserts somehow!
    ins {
        text-decoration: none;
    }

    del {
        text-decoration: line-through;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
    }

    caption, th {
        text-align: left;
    }

    abbr, acronym {
        cursor: help;
    }

    a, label, select, button, input[type=submit] {
        cursor: pointer;
    }

    input, select, textarea, button {
        font-family: inherit;
        font-size: 100%;
        vertical-align: middle;
    }

    // Disable auto visible scrollbar in IE
    textarea {
        overflow: auto
    }

    img { @include high-quality; }

    a img, :link img, :visited img {
        border: 0;
    }

    address {
        font-style: normal;
    }

    // To preserve line-height and selector appearance
    sup {
        vertical-align: text-top;
    }

    sub {
        vertical-align: text-bottom;
    }

    pre, code {
        white-space: pre-wrap;
    }

    strong {
        font-weight: 700;
    }

    // HTML5 display-role reset for older browsers
    article, aside, audio, canvas, datalist, details,
    figure, figcaption, footer, header, hgroup, menu, meter,
    nav, section, video {
        display: block;
    }
    time, progress, mark, output {
        display: inline;
    }

}