
@mixin wrapper($width: 960px, $top: 0, $bottom: 0) {
    // Check if we have supplied a unit
    @if unitless($width) {
        @warn "Assuming width #{$width} to be in pixels";
        $width: 1px * $width;
    }
    @if unitless($top) and $top != 0 {
        @warn "Assuming top #{$top} to be in pixels";
        $top: 1px * $top;
    }
    @if unitless($bottom) and $bottom != 0 {
        @warn "Assuming bottom #{$bottom} to be in pixels";
        $bottom: 1px * $bottom;
    }
    width: $width;
    margin: $top auto $bottom;
}