// Specify the size of the background image in pixels or percentage.
// Firefox 3.6+ can also have values of cover or contain
// See https://developer.mozilla.org/en/CSS/-moz-background-size
@mixin background-size($x, $y) {
    // Check if we have supplied a unit
    @if unitless($x) and $x != 0 {
        @warn "Assuming x #{$x} to be in pixels";
        $x: 1px * $x;
    }
    @if unitless($y) and $y != 0 {
        @warn "Assuming y #{$y} to be in pixels";
        $y: 1px * $y;
    }

    -o-background-size: $x $y;		/* Opera 9.5 */
    -webkit-background-size: $x $y;	/* Safari 3.0 */
    -khtml-background-size: $x $y;
    -moz-background-size: $x $y;	/* Gecko 1.9.2 (Firefox 3.6) */
    background-size: $x $y;			/* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
}