// Rotate an element 90, 180 or 270 degrees
// https://developer.mozilla.org/en/CSS/-moz-transform
// TODO: Fix the IE part
@mixin rotate($angle, $ie: true) {
    -webkit-transform: rotate(calc($angle)deg);
    -moz-transform: rotate(calc($angle)deg);
    -o-transform: rotate(calc($angle)deg);

    @if $ie {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=calc(90 / $angle));
    }
}